* {
  //border: solid #F06292 1px;
}

body {
  background: #78a7c6;
  //background: linear-gradient(0deg rgb(19, 77, 113) 20%, rgb(213,212,193) 80%);
  display: block;
  font-family: 'Quicksand', sans-serif
}

h1 {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 110px;
}

h2 {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

button {
  align-items: center;
  background-color: #134d71;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  height: 30px;
  margin: 20px;
  width: 200px;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#selection-box {
  align-items: center;
  background: white;
  border-radius: 10px;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 100px;
  font-size: 14px;
  width: 580px;
}

#radio-input-box {
  width: 500px;
}

#message-box {
  align-items: center;
  background: white;
  border-radius: 10px;
  display: flex;
  height: 160px;
  justify-content: center;
  width: 860px
}

#meditation-logo {
  height: 100px;
  width:100px;
}

/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
