* {
  /* border: solid black 1px; */
}

body, html {
  background: linear-gradient(#134d71 20%, #F8BBD0);
  background-size: auto;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  overflow: hidden;
}

button {
  align-items: center;
  background-color: #134d71;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  height: 30px;
  margin: 20px;
  text-align: center;
  width: 200px;
}

button:disabled {
  background-color: grey;
}

button:hover {
  cursor: pointer;
}

h1 {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 110px;
  padding-top: 40px;
}

h2 {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: -10px;
}

h4 {
  margin-bottom: -10px;
  margin-top: -5px;
}

li {
  list-style: none;
  margin-bottom: 10px;
  text-align: center;
}

li:hover {
  cursor: pointer;
}

ul {
  align-items: center;
  justify-content: center;
  min-width: 500px;
  padding: 0px;
  position: relative;
}

ul:hover::after {
  align-items: center;
  color: white;
  content: "Double click any message to delete it from your favorites";
  justify-content: center;
  opacity: 80%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.hidden {
  display: none;
}

.input-box {
  justify-content: center;
}

.meditation-logo {
  height: 80px;
  position: absolute;
  width: 80px;
}

.message-box {
  align-items: center;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: center;
  width: 860px
}

.radio-box {
  display: grid;
  grid-template-columns: min-content auto min-content auto;
  grid-gap: 0.5em;
}

.radio-selector-box {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  font-style: italic;
  width: 420px;
}

.selection-box {
  align-items: center;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 100px;
  font-size: 18px;
  width: 580px;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#clear-contents {
  margin-left: 650px;
  margin-top: 80px;
}

#favorite-logo {
  cursor: pointer;
  margin-left: 800px;
  margin-top: 20px;
}

#favorite-logo:hover:after {
  background-color: #134d71;
  color: white;
  content: "Add Favorite";
  margin-left: 3px;
  padding: 4px;
  position: absolute;
}

#message-input {
  height: 30px;
  font-style: italic;
  text-align: center;
  width: 400px;
}

#new-message {
  position: absolute;
}

#view-favorites {
  margin-top: 80px;
}

/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
